.projectOne{
    min-height: 100vh;
    background-color: rgb(225, 215, 10, 1);

    scroll-snap-align: start;
    box-sizing: border-box;
    padding: 10vh;
    gap: 30px;
    display: flex;
    flex-wrap: wrap;
    color: rgba(3, 5, 30, 0.9);
    margin: 0;
}

.projectTwo{
    min-height: 100vh;
    background-color: #6d071a;
    scroll-snap-align: start;
    box-sizing: border-box;
    padding: 10vh;
    gap: 30px;
    display: flex;
    flex-wrap: wrap;
    color: #ffeaf1;
    margin: 0;
}

.projectThree{
    min-height: 100vh;
    background-color: #75aaf0;

    scroll-snap-align: start;
    box-sizing: border-box;
    padding: 10vh;
    gap: 30px;
    display: flex;
    flex-wrap: wrap;
    color: rgba(3, 5, 30);
    margin: 0;
}

.projectOneUp, .projectTwoUp, .projectThreeUp{
    display: flex;
    gap: 50px;
    /* border: 1px solid black; */
    justify-content: space-evenly;
}

.projectOneHeader, .projectTwoHeader, .projectThreeHeader{
    min-width: 40%;
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    /* border: 1px solid black; */
    
}

.projectOneTitle{
    font-weight: 500;
    font-size: 2.5rem;
    font-family: 'Optima';
    display: flex;
    justify-content: center;

}

.projectTwoTitle{
    font-weight: 500;
    font-size: 2.5rem;
    font-family: 'aktivBold';
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
}

.projectThreeTitle{
    font-weight: 500;
    font-size: 2.5rem;
    
    display: flex;
    justify-content: center;
}

.projectOneTags, .projectTwoTags, .projectThreeTags{
    display: flex;
    font-size: 0.8rem;
    gap: 5px;
}

.projectOneTag, .projectTwoTag, .projectThreeTag{
    border: 2px solid;
    max-width: fit-content;
    padding: 2px 5px 2px 5px;
    border-radius: 20px;
}

.projectOneVideo{
    /* width: 40%; */
}

.projectTwoVideo, .projectOneVideo, .projectOneBanner > img,.projectOneBannerItem , .projectTwoVideo , .projectTwoBanner > img, .projectThreeVideo, .projectThreeBannerItem, .projectThreeBanner > img{
    object-fit: contain;
    /* border: 3px solid black; */
    max-width: 40%;
    width: 100%;
    height: auto;

    /* max-height: 100%; */
}
.projectOneBanner , .projectThreeBanner{
    /* border: 1px solid black; */
    display: flex;
    width: 100%;
    min-height: 400px;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.projectTwoBanner{
    display: flex;
    max-width: 100%;
    max-height: 400px;
    justify-content: center;
    flex-direction: row-reverse;
    
}


@media (width < 1024px) {
    .projectOne{
        padding: 40px;
    }
    .projectOneUp, .projectTwoUp, .projectThreeUp{
        flex-wrap: wrap;
        text-align: center;
        
    }
    .projectOneTags, .projectTwoTags, .projectThreeTags{
        justify-content: center;
    }

    .projectOneHeader, .projectTwoHeader, .projectThreeHeader{
        width: 90%;
    }
    .projectOneVideo,.projectTwoVideo , .projectOneBanner > img,.projectOneBannerItem , .projectTwoVideo > img, .projectTwoBanner > img, .projectThreeVideo, .projectThreeBannerItem, .projectThreeBanner > img{
        max-width: 100%;
    }
    .projectOneBanner, .projectThreeBanner{
        justify-content: flex-start;
        gap: 30px;
    }
    .projectTwoBanner{
        justify-content: center;
        gap: 30px;
    }
}
